docs/_build/
vendor/*
composer.phar
coverage
package.xml
*.tgz

# You should be keeping these in a global gitignore, see for example 
# https://help.github.com/articles/ignoring-files#global-gitignore
.DS_Store
.idea

nbproject

# This is used by the documentation generator
venv
