<!--suppress XmlUnboundNsPrefix -->
<phpunit bootstrap="./Bootstrap.php" convertNoticesToExceptions="false">
  <testsuites>
    <testsuite name="Twilio Unit Test Suite">
      <directory>./Twilio/Unit</directory>
      <exclude>WorkflowTest.php</exclude>
    </testsuite>
  </testsuites>
  <coverage>
    <include>
      <directory suffix=".php">../src</directory>
    </include>
  </coverage>
</phpunit>
