<!--suppress XmlUnboundNsPrefix -->
<phpunit bootstrap="./Bootstrap.php" convertNoticesToExceptions="false">
  <testsuites>
    <testsuite name="Twilio Test Suite">
      <directory>./Twilio</directory>
      <exclude>Unit/WorkflowTest.php</exclude>
    </testsuite>
    <testsuite name="Twilio Services Test Suite">
      <directory>./Services</directory>
    </testsuite>
  </testsuites>
</phpunit>
